<mat-toolbar>

  <div class="header-title">
    <span (click)="reloadListing()">Wookie Movies</span>
  </div>

  <span class="header-spacer"></span>

  <div *ngIf="!isTitlePage" class="search-bar-container">
    <mat-icon class="search-icon" aria-hidden="false" aria-label="Search">search</mat-icon>
    <input [(ngModel)]="searchTerm" placeholder="Search" type="text" (keyup.enter)="searchMovies()">
    <button mat-button color="primary" (click)="searchMovies()">Search</button>
  </div>

</mat-toolbar>
